<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="expense-tracker" content="track your expenses" />
    <title>Expense Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <header><h1>Expense Tracker</h1></header>
  <div class="button-group">
    <button id="register">Register</button>
    <button id="login">Login</button>
  </div>
  <div id="register-view">
    <div>
      <label for="username">Enter your new username</label>
      <input type="text" id="new_username" name="username" />
    </div>
    <div>
      <label for="password">Enter your new password</label>
      <input type="text" id="new_password" name="password" />
    </div>
  </div>

  <div id="login-view">
    <div>
      <label for="username">Enter your username</label>
      <input type="text" id="username" name="username" />
    </div>
    <div>
      <label for="password">Enter your password</label>
      <input type="text" id="password" name="password" />
    </div>
  </div>
  <div class="acc-button">
    <button id="create_account">Create account</button>
    <button id="login_account">Login to account</button>
  </div>

  <div id="expenses-view">
    <div class="button-expenses hidden">
      <button id="create-expense">Add an expense</button>
      <button id="view">View expenses</button>
      <button id="update-expense">Update an expense</button>
      <button id="delete-expense">Delete an expense</button>
    </div>
    <div class="create-expense hidden">
      <label for="expense-description">Description for expense</label>
      <input type="text" id="description" name="description" />
      <label for="expense-category">Category for expense</label>
      <input type="text" id="category" name="category" />
      <label for="expense-price">Price for expense</label>
      <input type="text" id="price" name="price" />
      <button id="add-expense">Add expense</button>
      <button id="go-back">Go back</button>
    </div>
  </div>
</html>
